@import "normalize.css";

body {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
}

.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 3px 3px gray;
    & .nav {
        margin: 0 20px;
    }
}

.main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.canvas {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & img {
        overflow: hidden;
    }

    .switcher {
        height: 40px;
        margin-top: 30px;
        border: 1px solid gray;
        box-shadow: 1px 5px 5px gray;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

.column {
    width: 25%;

    &__tools,
    &__colors {
        height: auto;
        margin: 100px 50px;
        box-sizing: border-box;
        border: 1px solid gray;
        box-shadow: 1px 5px 5px gray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        & .string {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            &:first-child div {
                background-color: #C4C4C4;
            }
            &:nth-child(2) div {
                background-color: #41F795;
            }
            &:nth-child(3) div {
                background-color: #F74141;
            }
            &:last-child div {
                background-color: #41B6F7;
            }
            & img {
                margin: 0 30px 0 20px;
            }
            & .ellipse {
                width: 20px;
                height: 20px;
                margin: 0 30px 0 20px;
                border-radius: 50%;
                border: 1px solid black;
                background-color: white;
            }
        }
    }
}
